<html>
    <head>
		<title>Profile Page</title>

        <style>
            @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #242943;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.title {
  color: grey;
  font-size: 18px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

button {
	border-radius: 20px;
	border: 1px solid #752bff;
	background-color: #752bff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background: #FF416C;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.profile-container {
	left: 0;
	width: 100%;
	z-index: 2;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}
        </style>
    </head><body>
<div class="container" id="container">
	<div class="form-container profile-container">
        <h1>My Profile</h1>
		<form action="/up" method="GET">		
			<br><br>
            <h3>Name : <small><%= user.name %></small></h3><br>
            <h3>Phone.No : <small><%= user.username %></small></h3><br>
            <h3>Area : <small><%= user.area %></small></h3><br>
            <button type="submit" id="myButton" class="float-left submit-button" >Change password</button>
		</form>
	</div>
	
</div>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "up.html";
    };
</script>

</body>
</html>