<!DOCTYPE HTML>

<html>
	<head>
		<title>Session Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt style2">
						<a href="/" class="logo"><strong>UMEED</strong> </a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/logout">Logout</a></li>
							<li><a href="/dashboard">Dashboard</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<header class="major">
								<h1>Sessions</h1>
							</header>
							<div class="content">
								<p>Skill development refers to the identification of skill gaps and developing the existing skills to enable a person to achieve his/her goals. The current generation lacks the necessary skills and there is a humongous gap between the skills existing in a person and the skills demanded by the industry.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2><a href='/create'>Create New Sessions</a></h2>
                                    </header>
								</div>
							</section>
						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a href="/posts" class="image">
										<img src="images/pic08.jpg" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Values</h3>
											</header>
											<p>Values are the motive behind purposeful action. They are the ends to which we act and come in many forms. Personal values are personal beliefs about right and wrong and may or may not be considered moral. Cultural values are values accepted by religions or societies and reflect what is important in each context.</p>
											<ul class="actions">
												<li><a href="/posts" class="button">Learn more</a></li>
											</ul>
										</div>
									</div>
								</section>
								<section>
									<a href="/posts" class="image">
										<img src="images/pic09.jpg" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Skill Building</h3>
											</header>
											<p>Skill building assistance includes training and supports services to help individuals actively participate at school, work, volunteer opportunities, community settings, or to learn social skills they may need to support themselves or to get around in the community.</p>
											<ul class="actions">
												<li><a href="/posts" class="button">Learn more</a></li>
											</ul>
										</div>
									</div>
								</section>
								
							</section>


					</div>

				<!-- Contact -->
                <section id="contact">
                    <div class="inner">
                        <section>
                            <form method ="POST" action = "http://127.0.0.1:3000/mail">
                                <div class="fields">
                                    <div class="field half">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" />
                                    </div>
                                    <div class="field half">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" />
                                    </div>
                                    <div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="6"></textarea>
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><input type="submit" value="Send Message" class="primary" /></li>
                                    <li><input type="reset" value="Clear" /></li>
                                </ul>
                            </form>
                        </section>
                        <section class="split">
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-envelope"></span>
                                    <h3>Email</h3>
                                    <a href="#">information@untitled.tld</a>
                                </div>
                            </section>
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-phone"></span>
                                    <h3>Phone</h3>
                                    <span>(000) 000-0000 x12387</span>
                                </div>
                            </section>
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-home"></span>
                                    <h3>Address</h3>
                                    <span> street no, locality ,city,state </span>
                                </div>
                            </section>
                        </section>
                    </div>
                </section>

            <!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <ul class="icons">
                            <li><a href="https://twitter.com/umeedforwomen" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/ngoumeed/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="https://www.instagram.com/umeedngo100/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="https://www.linkedin.com/organization-guest/company/umeedforwomen" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                        </ul>
                        
                    </div>
                </footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>