<html>
    <head>
        <title>Change Password</title>
        <link rel="stylesheet" href="/assets/css/up_style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
    </head>
    <body>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Update Password</h1>
			<input type="password" placeholder="New Password" id="passOne"/>
			<input type="password" placeholder="Confirm Password" id="passTwo"/>
            <button onclick="myFunction()">Update</button>
            <h3 id="footerText"></h3>
        </form>
        
	</div>
</div>
<script src="/assets/js/up.js"></script>
</body>
</html>